@model ActorModel

@{
    ViewData["Title"] = "Details of the actor";
    ViewData["css"] = "Actors/Detail.css";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Actors</li>
        <li class="breadcrumb-item active" aria-current="page">Actor Profile</li>
    </ol>
</nav>

<hr>

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.ProfilePictureURL" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>@Model.FullName</h4>
                        <p class="text-secondary mb-1">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.Raw("As Admin")
                                ;
                            }
                            else
                            {
                                @Html.Raw("As User")
                                ;
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.FullName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Bio
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        
                        <a class="btn btn-outline-secondary" asp-action="Index">List of Actors</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-dark float-right mx-2" asp-action="Edit" asp-route-id="@Model.Id">Edit Data</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
