@model OrderModel

@{
    ViewData["title"] = "Cart Summary";
    ViewData["css"] = "Cart/cart_summary.css";
    ViewData["controller"] = "Carts";
    ViewData["action"] = "Cart Summary";
}

<div class="table-responsive shopping-cart">
    <table class="table">
        <thead>
            <tr>
                <th>Detail Product</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.OrderDetails)
            {
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img src="@item.Movie.ImageURL" alt="@item.Movie.Name"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">@item.Movie.Name</a></h4><span><em>Category : </em>@item.Movie.MovieCategory</span>
                            </div>
                        </div>
                    </td>
                    <td>@item.Movie.Price.ToString("c")</td>
                    <td class="text-center">
                        @item.Amount
                    </td>
                    <td class="text-center text-lg text-medium">@((item.Amount*item.Movie.Price).ToString("c"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="shopping-cart-footer">
    <div class="column text-lg">Total: <span class="text-medium">@Model.OrderDetails.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")</span></div>
</div>

<div class="shopping-cart-footer">
    <a class="btn btn-outline-secondary mb-5" asp-controller="Orders" asp-action="Index"><i class="bi arow-left"></i>Back to Orders List</a>
</div>
