@model IEnumerable<MovieModel>
@{
    ViewData["Title"] = "Home Page";
    ViewData["css"] = "Movies/index.css";
}


<div class="fs-1 d-flex justify-content-start mb-3"> List of Movies </div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-4">
            <div class="movie-card">
                <div class="movie-header" style="background: url('@item.ImageURL') no-repeat; background-size:cover; background-position:center;">
                    <div class="header-icon-container">
                        <a asp-action="Detail" asp-route-id="@item.Id">
                            <i class="material-icons header-icon"></i>
                        </a>
                    </div>
                </div>
                <div class="movie-content">
                    <div class="movie-content-header d-flex justify-content-between align-items-center">
                        <div href="#" class="d-flex justify-content-between align-items-center">
                            <h3 class="movie-title"><a asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                        </div>
                        @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <div>
                                <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        }

                    </div>
                    <div class="movie-info">
                        <div class="info-section">
                            <label>Description</label>
                            <span class="text-muted" style="text-transform: lowercase !important; font-weight: 500;">@item.Description.</span>
                        </div>
                        <div></div>
                    </div>
                    <div class="movie-info">
                        <div class="info-section">
                            <label>Start date</label>
                            <span>@item.StartDate.ToString("ddd, dd MMM yy")</span>
                        </div>
                        <div class="info-section">
                            <label>Cinema</label>
                            <span>@item.Company.Name</span>
                        </div>
                        <div class="info-section">
                            <label>Category</label>
                            <span>@item.MovieCategory</span>
                        </div>
                    </div>
                    <div class="movie-info">
                        <div class="info-section">
                            <label>End date</label>
                            <span>@item.EndDate.ToString("ddd, dd MMM yy")</span>
                        </div>
                        <div class="info-section">
                            <label>Status</label>
                            @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                            {
                                <span class="badge bg-success">Available</span>
                            }
                            else if (DateTime.Now > item.EndDate)
                            {
                                <span class="badge bg-danger">Expired</span>
                            }
                            else
                            {
                                <span class="badge bg-primary">Comming Soon</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4 mb-0">
                        @if (User.Identity!.IsAuthenticated && User.IsInRole("Customer"))
                        {
                            <button class="btn btn-success fs-5 ms-0 me-2 px-3 py-1"><i class="bi bi-cart-plus me-2"></i>Add to chart</button>
                        }
                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info me-0 fs-5 px-3 py-1"><i class="bi bi-eye me-2"></i>Detail</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-12 d-flex justify-content-end align-items-center mt-4">
        @await Html.PartialAsync("_ButtonAddPartial", "Movies")
    </div>
</div>

