@model CompanyModel

@{
    ViewData["Title"] = "Details of the company";
    ViewData["css"] = "Companies/Detail.css";
    ViewData["controller"] = "Companies";
    ViewData["action"] = "Detail Movie Company";
}

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.Logo" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>@Model.Name</h4>
                        <p class="text-secondary mb-1">As Movie Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Description
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        
                        <a class="btn btn-outline-secondary" asp-action="Index">List of Companies</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-dark float-right mx-2" asp-action="Edit" asp-route-id="@Model.Id">Edit Data</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
